$dark-brown: #797474;
$medium-brown: #ADA0A0;
$occa: #F2F2F2;

.spacer{
    margin: 10px 0px;
}

.spacedRow{
    margin-top: 1rem;
}

.section{
    margin: 10px 0px 10px 0px;
    padding: 15px 10px;    
    border: 1px solid $medium-brown;
    background-color: $occa;
}

body{
    padding: 10px;
    background-color:  $occa;
}
    
.sidebar-module, .navbar-inverse{
    background-color: $dark-brown;
}

$panelBackground: white;

.panel {
    background-color: $panelBackground;    
    padding: 20px;
}

inner-panel{
    padding: 20px 10px;
}

.cmdPanel{
    padding: 10px 10px;  
    color:$panelBackground;
    background-color: $dark-brown;
}

.cmdPanelSmall{
    padding: 5px;
    margin: 10px 0px;
    color: $panelBackground;
    background-color: $dark-brown;
}

.rightCell{
    text-align: right;
}

$buttonCol: red;
$buttonFontCol: white;

.theme-green .bs-datepicker-head {
    background-color: $dark-brown;
}

.theme-green .bs-datepicker-body table td.week span {
    color:  $dark-brown;
}